@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override react-day-picker selected day color */
.rdp-day_selected:not(.rdp-day_disabled) {
  background-color: #f43f5e !important;
  color: white !important;
}
.rdp-day_range_middle:not(.rdp-day_disabled) {
  background-color: #ffe4e6 !important;
  color: #be123c !important;
}